# Backend
backend/target/
backend/.mvn/
*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env

theragift_accidental_delete_me/
